*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-color: white;
}
.nav-link{
    display:flex;
    gap: 1rem;
}
.nav-link>a{
    text-decoration: none;
    color: black;
}
nav>button{
    padding: 0.5rem;
    border: 1px solid #387042;
    border-radius:15px;
    background-color: white;
    width:10rem;
    color:#387042;
}
nav>button:hover{
    background-color:#387042;
    color:white;
    transition-delay: 0.05s;
    transition-duration: 0.1s;
}

/* form */


.contact{
    display: flex;
    padding: 4rem;
}
.contact > .left, .right{
    width: 50%;
}
.left{
    padding-right: 5rem;
}
.desc > h2{
    font-size: 35px;
}
.phone{
    padding: 2rem;
}
.phone1{
    display: flex;
    font-weight: bold;
    gap: 1rem;
    padding-bottom: 2rem;
}
 /* form right */

 .right{
    color: white;
    padding-left: 5rem;
 }

 form{
    background-color:  #132516;
    height: 90vh;
    width: 90%;
    padding: 2rem;
    border-radius: 20px;
 }
 form > h1{
    text-align: center;
    padding-bottom: 2rem;
 }
 input[type='text']{
    padding: 0.5rem;
    width: 80%;
    background-color:   #132516;
    border: 1px solid white;
    border-radius: 5px;
 }
 input[type='text']::placeholder{
    color: rgb(206, 180, 180);
 }
 input[type='email']{
    padding: 0.5rem;
    width: 80%;
    background-color:   #132516;
    border: 1px solid white;
    border-radius: 5px;
 }
 input[type='email']::placeholder{
    color: rgb(206, 180, 180);
 }
 input[type='number']{
    padding: 0.5rem;
    width: 80%;
    background-color:   #132516;
    border: 1px solid white;
    border-radius: 5px;
 }
 input[type='number']::placeholder{
    color: rgb(206, 180, 180);
 }
 .btn{
    display: flex;
    justify-content:center ;
    padding-top: 2rem;
    border: none;
 }
 .btn > button{
    background-color: #387042;
    color: white;
    width: 10rem;
    padding: 0.7rem;
    border: 1px solid #387042;
    border-radius: 15px;
 }

 /* footer */

 footer{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
 
